  /* global styles  */
body {
    font-family: 'Raleway'; 
    line-height: 1.5;
}

h6 {
    font-weight: bold;
}




/* class styles */
.product {
    width: 25%;
    height: 75%;
    margin: auto;
}