/* global styles  */
/* color pallete https://colorhunt.co/palette/167908 */
body {
	font-family: "Raleway";
	line-height: 1.5;
	background-color: #52de97;
	text-align: center;
}

h6 {
	font-weight: bold;
	margin: 15px;
}
nav {
	background-color: #52de97;
}
footer {
	text-align: center;
	margin: auto;
}
footer li {
	list-style-type: none;
	display: inline;
	padding: 20px;
	margin: auto;
}

/* class styles */
.product {
	width: 15em;
	height: 30em;
	margin-top: 15px;
}
.intro {
	text-align: left;
}
.container-fluid {
	padding: 3% 15%;
	background: #c0ffb3;
}
.note {
	margin: 1em;
}
.nav-item {
	text-align: right;
}
.navbar-brand {
	margin-left: 2rem;
	padding: 1rem;
}

#mail {
	color: #ffba5a;
	font-weight: bold;
}
#mail:hover {
	color: black;
}

.footer-link {
	font-weight: bold;
	color: #c0ffb3;
}
.footer-link:hover {
	color: black;
}
.copy {
	font-size: 0.5em;
	color: white;
}
.hoover-contact {
	color: #c0ffb3;
	font-size: 1rem;
}
.soundfile {
	color: #ffba5a;
	font-weight: bold;
}
.soundfile :hover {
	color: black;
}
#testimonies {
	text-align: center;
}
.carousel-item {
	padding: 4% 15%;
}
.testimonial-text {
	font-size: 1.5rem;
	font-weight: bold;
}
#bottom {
	padding: 7% 15%;
}
