    body{
        background-color: green;
    }
    img {
        height: 75%;
        width: 50%;
        margin: auto;
    }
    p {
        margin: auto;
        line-height: 1.5;
        font-family: 'Raleway';
    }